pymilvus==2.2.8
msal_streamlit_authentication
azure-keyvault-secrets
azure-identity
extra-streamlit-components
microsoftgraph-python
psycopg2-binary
pandas
pyGithub
asyncio
streamlit
openai
langchain==0.0.225
python-dotenv
tabulate
selenium
tiktoken
spacy
langchain[docarray]